.App{
    display:flex;
    min-height: 100vh;
    align-items:center;
    justify-content:center;
}
.calculator{
    width:100%;
    max-width:500px;
    overflow:hidden;
    border-radius: 20px;
    box-shadow: 2px 2px 10px grey;
    background-color: dodgerblue;
    
}
.display{
    padding: 20px;
    text-align: right;
    background-color:lightseagreen;
    font-size: 20px;
}
button{
    color:white;
    padding:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
.operators{
    display:flex;
}
.operators button{
    flex:1 1 0%;
    background-color: sandybrown;
    border-radius: 10px;
}
.numbers{
    display:flex;
    flex-wrap:wrap;
}
.numbers button{
    flex:1 1 33.3%;
    max-width:33.3%;
    background-color: grey;
    border-radius:10px;
}